body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header,
.hero {
    background: #1F2937;
    padding: 0 180px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 18px;
}

a {
    color: #E5E7EB;
    text-decoration: none;   
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 120px 180px;
    align-items: center;
}

.left {
    flex-basis: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
}

.left p {
    font-size: 18px;
    color: #e5e7eb;
}

img {
    height: 300px;
}

.hero-button,
.call-sect,
.call-button {
    background: #3882f6;
}

.hero-button,
.call-button {
    color: #f9faf8;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.mid-container {
    display: flex;
    padding: 0 180px 80px 180px;
    gap: 16px;
    justify-content: center;
}

.box {
    width: 120px;
    height: 120px;
    border: solid #3882f6;
    border-radius: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    width: 120px;
    text-align: center;
}

.quote-sect {
    background: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 180px 80px 180px;
    flex-wrap: wrap
}